@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --w: 480px;
    --h: 840px;
  }
  
  .screen {
    background: black;
    width: calc(var(--w) * .7);
    height: calc(var(--h) * .7);
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: dense;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin: 2em auto;
    border: 10px solid black;
    border-width: 20px 8px 40px;
    border-radius: 7px;
    box-shadow: 5px 0px 30px #000;
  }
  
  .item {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .item i:before {
    font-size: 2em;
  }
  
  .double-w, .photos {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .people {
    grid-column: 2/4;
    grid-row: 1/3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: stretch stretch;
  }
  .people .sub-item {
    display: grid;
    grid-template-areas: "a b" "c d";
    grid-template-columns: 50% 50%;
    align-items: end;
  }
  .people .sub-item span {
    grid-area: c;
    margin: 0.5em;
  }
  .people .sub-item.big {
    grid-column: span 2;
    grid-row: span 2;
    align-items: end;
  }
  .people .sub-item:nth-of-type(1) {
    background: url("https://source.unsplash.com/collection/582659/?v=1") center center no-repeat;
    background-size: cover;
  }
  .people .sub-item:nth-of-type(2) {
    background: url("https://source.unsplash.com/collection/582659/?v=2") center center no-repeat;
    background-size: cover;
  }
  .people .sub-item:nth-of-type(3) {
    background: url("https://source.unsplash.com/collection/582659/?v=3") center center no-repeat;
    background-size: cover;
  }
  .people .sub-item:nth-of-type(4) {
    background: url("https://source.unsplash.com/collection/582659/?v=4") center center no-repeat;
    background-size: cover;
  }
  .people .sub-item:nth-of-type(5) {
    background: url("https://source.unsplash.com/collection/582659/?v=5") center center no-repeat;
    background-size: cover;
  }
  .people .sub-item:nth-of-type(6) {
    background: url("https://source.unsplash.com/collection/582659/?v=6") center center no-repeat;
    background-size: cover;
  }
  
  .weather {
    grid-column: 1/-1;
    grid-row: 3/5;
    padding: 10px;
    background: #124191;
  }
  .weather .status {
    justify-self: start;
    align-self: end;
  }
  .weather .city {
    justify-self: start;
    align-self: start;
    font-size: 0.9em;
    height: 1em;
    line-height: 1;
  }
  .weather .city span {
    font-size: 0.6em;
  }
  .weather .temp {
    font-size: 1.5em;
  }
  .weather .temp span {
    font-size: 2em;
  }
  
  .photos {
    background: url("https://source.unsplash.com/random/300x300");
    grid-template-areas: "a b" "c d";
    grid-template-columns: 50% 50%;
    align-items: end;
  }
  .photos span {
    grid-area: c;
    margin-bottom: 0.5em;
  }
  
  .in {
    background: #0077B5;
    font-size: 2em;
  }
  
  .fb {
    background: #4267B2;
    align-items: end;
    font-size: 1.85em;
    grid-template-areas: "a b" "c d";
    overflow: hidden;
  }
  .fb i {
    grid-area: d;
    margin-bottom: -6px;
  }
  
  .sk {
    background: #00AFF0;
    font-size: 1.2em;
  }
  
  .call, .message, .music, .email {
    background: #094AB2;
  }
  
  .cam {
    background: #AC193D;
  }
  
  .ie {
    background: #3E65FF;
  }
  /*Windows Display*/
body{
    background: url("images/path1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .screen{
      display: none;
    }
    .start{
        color: white;
        font: normal 50px 'Montserrat', sans-serif;
        margin-bottom: 50px;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        transition: all .3s ease;
        position: absolute;
    }
    .start:hover{
        text-shadow: 0 0 4px white;
    }
    @media only screen and (max-width:450px){
          .start{
            font: normal 38px 'Montserrat', sans-serif;
          }
    }
    .icon{
      width: 100%;
      height: 20vh;
      .logo{
        color: white;
        font: normal 30px 'Montserrat', sans-serif;
        float: right;
        margin-top: 1rem;
      }
      .day{
        color: white;
        font: normal 20px 'Montserrat', sans-serif;
        float: right;
      }
      @media only screen and (max-width:450px){
        .logo{
          font: normal 27px 'Montserrat', sans-serif;
        }
        .day{
          font: normal 20px 'Montserrat', sans-serif;
        }
      }
      .logoimg{
        float: right;
        width: 6rem;
        position: relative;
      }
    }
    .container-gallery{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-auto-rows: 120px;
        grid-auto-flow: dense;
        img{
            vertical-align: revert;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .horizontal{
            grid-column: span 2;
        }
        .vertical{
            grid-row:span 2 ;
        }
        .big{
            grid-column: span 2;
            grid-row: span 2;
        }
        div{
            backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(48, 50, 56, 0.5);
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            box-shadow: 0px 0px 5px 0px #5e5a5a;
        }
        .scale:hover{
          border: solid 2px white;
          transition: all 0.8s cubic-bezier(0.25, 0.1, 0.69, 0.98);
          transform: scale(1.1);
          z-index: 2;
        }
        
        @media only screen and (max-width:620px){
          .scale:hover{
                transform: scale(1.06);
              }
        }
        img.fadeimg{
          width: -webkit-fill-available;
          border-radius: 12px;
          display: flex;
          margin: auto;
          animation: fadeimg 8s ease-in-out infinite 5s;
        }
        @keyframes fadeimg{
          0%{
            opacity: 0;
          }
          10%{
            opacity: 1;
          }
          50%{
            opacity: 1;
            background: url("images/img2.png");
          }
          60%{
            opacity: 0;
          }
        }
        .tile-content .content {
          transition: top ease 0.5s 0.1s;
        }
        .tile-content{
          display: block;
          height: 100%;
          width: 100%;
          position: relative;
          overflow:hidden;
          background-color: transparent;
          }
        .tile-content .content{
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          }
        .tile-content .content.one{
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            background:transparent;
            border: none;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
          }
        .tile-content .content.two {
            top:100%;
            display: block;
            height: 100%;
            width: 100%;
            background:transparent;
            border: none;
            box-shadow: none;
          }
        .tile-content:hover .content.one {
          top: -100%;
        }
        .tile-content:hover .content.two {
          top: 0;
        }
        .bodycontent{
          color: white;
          font: normal 25px 'Montserrat', sans-serif;
          margin-top: 1rem;
          text-align: center;
        }
    }
    &::before{
      content: "";
      position: fixed;
      background: rgba(0, 0, 0, 0.459);
      width: 100%;
      height: 100%;
      z-index: -2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    i{
      font-size: 3rem;
      color: white;
      margin: auto;
      margin-bottom: 0;
      text-shadow: 0 0 4px white;
    }
    .fa-cog{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .fa-cog:before {
      position: absolute;
      font-size: 5rem;
      top: 0px;
      animation: logo-rotating 20s linear infinite;
    }
    @keyframes logo-rotating {
      from {
              transform: rotate(0deg);
      }
      to {
              transform: rotate(360deg);
      }
  }
  
}
@media only screen and (max-width:450px){
  .container{
    display: none;
  }
  .screen{
    display: grid!important;
    margin: 0;
    height: 100vh;
    width: 100%;
  }
}